<div id="<%= dom_id project %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= project.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Vcs provider:</strong>
    <%= project.vcs_provider %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Vcs identifier:</strong>
    <%= project.vcs_identifier %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Webhook url:</strong>
    <%= project.webhook_url %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Settings:</strong>
    <%= project.settings %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= project.user_id %>
  </p>

</div>
