<div id="<%= dom_id knowledge %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Regexp:</strong>
    <%= knowledge.regexp %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= knowledge.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= knowledge.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Documentation link:</strong>
    <%= knowledge.documentation_link %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Impact level:</strong>
    <%= knowledge.impact_level %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Solution hint:</strong>
    <%= knowledge.solution_hint %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Path pattern:</strong>
    <%= knowledge.path_pattern %>
  </p>

</div>
